:root {
    --color-background-no-picture: #012b86;
    --background-primary: #2130b4b7 ;
    --background-secondary: #0d65b7a9 ;
    --background-tertiary: #ffffffcb ;
    --text-primary: #C7B81F ;
    --text-secondary: #ffffff ;
    --text-tertiary: #000000 ;
} 
html{
    color: var(--text-tertiary);
    z-index: -10;
}
nav {
    display:flex;
    flex: 10;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-right: 2rem; 
}

#buttons-group > a {
    flex: 10;
    border: solid 2px var(--background-tertiary);
    border-radius: 25px;
    background-color: var(--background-secondary);
    color: var(--text-secondary);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    z-index: 10;
}
#page-layout{
    z-index: 0;
} 
#header-main {
    width: 50%;
    margin-left: 10px;

    padding: 10px;
    filter: drop-shadow(4px 6px 0px var(--shadow-primary));
    background-color: var(--background-primary);
    color: var(--text-primary);
    text-shadow: 2px 2px var(--text-tertiary);
    font-size: 1rem;
    z-index: 6;
}
#content {
    display: flex;
    gap: 1px;
   
}
#content, h2 {
    font-size: 30px;
}
#main-section {
    border: solid black 2px;
    background-color: var(--background-tertiary);
    width: 80%;
    height: 100%;
    padding: 1rem;
    /* margin: -10px 30px; */
}

#aside1 {
    width:10%;
    text-align: center;
    color: white;

}
