:root {
    --color-background-no-picture: #012B86;
    --background-primary: #212FB4 ;
    --background-secondary: #0D65B7 ;
    --background-tertiary: #ffffff ;
    --text-primary: #C7B81F ;
    --text-secondary: #ffffff ;
    --text-tertiary: #000000 ;
}
html {
    background-color: var(--color-background-no-picture);
    color: var(--background-tertiary);
}
#page-layout{
    display: grid;
    grid-template-columns: 4fr 2fr 2fr;
    grid-template-rows: 100px 200px 200px;
    gap: 20px;
}
#header-main {
    grid-column: span 3;
}
.container {
    border: solid white 2px;
}
#content {
    grid-row: span 10;
    grid-column: span 1;
}
#side1 {
    grid-column: span 2;
}
#side2 {
    grid-row: span 9;
    grid-column: span 2;
}

#foot {
    grid-column: span 3;
}
